freedom_daw--TrackHeader {
}

freedom_daw--MainWindow {
	background-color: "#494d4d";
}

freedom_daw--AudioPanel {
	background-color: "#666b62";
}

freedom_daw--TrackHeader {
	background-color: "#666b62";
	border-radius: 10px;
}

freedom_daw--TrackHeader QLabel {
	color: "#f1bf84";
}
