freedom_daw--TrackHeader {
}

freedom_daw--MainWindow {
	background-color: "#494d4d";
}

freedom_daw--AudioPanel {
	background-color: "#666b62";
}

freedom_daw--TrackLabel {
	font-weight: bold;
}

freedom_daw--Track {
}

freedom_daw--TrackHeader {
	border-radius: 10px;
	background-color: "#666b62";
}

freedom_daw--TrackHeader QLabel {
	color: "#f1bf84";
}

freedom_daw--TrackBody {
	border-radius: 10px;
	background-color: "#666b62";
}

freedom_daw--RecordButton {
	background-color: black;
}
